@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.header{
    display: grid;
    width: 100%;
    height: 50px;
    /* background: red; */
    padding: 10px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat (1,1fr);
    grid-template-areas:
    "logo burger";
    background: var(--color-primary);
}

.header .icono, 
    .header .hamb{
        color: var(--color-ternario);
    }
    .header .icono h1{
        color: var(--color-ternario);
    }

.icono{
    grid-area: logo;
    gap: 10px;
}

.icono{
    grid-area: logo;
    gap: 10px;
    /* */
}

.hamb{
    grid-area: burger;
    justify-content: flex-end
}

.icono h1{
    font-size: 1.2rem;
    text-transform: uppercase;
}

.icono, .hamb{
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.icono i, .hamb i{
    font-size: 24px;

}

/*********************************************************************/

.container{
    /* background: blue; */
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 10px;
    grid-gap: 25px

    
}
.banner{
    display: flex;
    flex-direction: column;
    /* background: olivedrab; */
    gap: 15px
}
.banner__title{


    /* background: darkgoldenrod; */
    padding: 10px;
}

.banner__title{
    font-size: 1.4rem;
    text-transform: capitalize;
    color: var(--color-abajo);
  
}
.banner__publicidad{
    width: 100%;
    height: 140px;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__logo{
    display: flex;
    position: relative;
    margin-top: -40px;
    width: 25vh;
    height: 25vh;
    align-items: center;
    background: var(--color-primary); 
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.banner__logo img{
    display: flex;
    padding: 15px;
    height: 110px;
    align-items: flex-start;
    justify-content: center;
}
.banner__card{
    width: 92vw;
    height: 130px;
    background: var(--color-ternario);
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: var(--color-shado-tranparent);
}
.banner__data{
    width: 80%;
    /* background: orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    
    position: relative;
}
.banner__data i {
    margin-top: 3px;
    font-size: 20px;
}
.banner__data strong{
    font-size: 20px;
    color: var(--color-abajo);
}
.banner__data small{
    color: var(--color-arriba);
    margin-top: 0.3rem;
}
.banner__close{
    position: absolute;
    background: var(--color-primary);
    border: none;
    color: var(--color-ternario);
    width: 25px;
    height: 25px;
    top: 5px;
    right: 10px;
    border-radius: 100%;
}
.carusel__title h3{
    font-size: 25px;
    color: var(--color-abajo);
}
.banner__more{
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-size: .8rem;
    color: var(--color-ternario);
    padding: 5px;
    background: var(--color-primary);
}

.banner__more button:hover{
    background: var(--color-secundary);
}

[data-card]::before{
    content: attr(data-card);
    color: var(--color-primary);
}

.carusel__card{
    width: 95vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin: auto;
    align-items: center;
    gap: 5px;
    margin: 15px 0;
}
.carusel__img{
    min-width: 55%;
    min-height: 40vh;
    background: url(../storage/img/card.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-ternario);
}
.carusel__img small,
.carusel__img img{
    position: absolute;
}
.carusel__img small{
    top: 20px;
    right: 20px;
}

.carusel__img img{
    left: 20px;
    bottom: 20px;
}

.menu{
    background: var(--color-arriba);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.menu ul{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.menu ul li {
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
}
.menu ul li a i{
    font-size: 25px;
    color: var(--color-primary);
}
.menu ul li a i:hover{
    color: var(--color-abajo);
    transition: color .3s ease-in-out;
}