@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf);
}

@font-face {
    font-family: "SF-Pro-Text-Heavy";
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Heavy.otf);
}


@font-face {
    font-family: "SF-Pro-Text-Semibold";
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Semibold.otf);
}

@font-face {
    font-family: "SF-Pro-Text-Bold";
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Bold.otf);
}

:root{
    --color-primary: #dada95;
    --color-secundary: #afc2ae;
    --color-ternario: #fff;
    --color-cuarto: #868f74;
    --color-arriba: #9ba79c;
    --color-abajo: #868f74;
    --color-nav: rgb(255, 255, 255);
    --color-shado-transparent: 0px 0px 10px rgba(0, 0, 0, 0.416);
}